# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd
*.ckpt

# exp
exp

# model
model

# data
dataset

# lsf
*.bsub

# running scripts
scripts_dev/*